/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */



#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/mouse_move.dtsi>
#include <dt-bindings/zmk/mouse.h>
//#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1500  // 600
//#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define DEF 0;
#define MSK 1;
#define MSC 2;
/ {
   keymap {
       compatible = "zmk,keymap";
       default_layer {
           bindings = <
               // Left Side (Function and Mouse movement on left)
&kp ESC       &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                  &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &bt BT_CLR
&kp CAPSLOCK  &kp Q      &kp W      &kp E      &kp R      &kp T                  &kp Y      &kp U      &kp I      &kp O      &kp P      &kp RALT
&kp LSHIFT    &kp A      &kp S      &kp D      &kp F      &kp G                  &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp RSHIFT
&kp LCTRL     &kp Z      &kp X      &kp C      &kp V      &kp B                  &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH  &kp RCTRL
               // Left side controls mouse movement, and left click is on a separate button
&mkp MOUSE_MOVE_LEFT &mkp MOUSE_MOVE_DOWN &mkp MOUSE_MOVE_UP &mkp MOUSE_MOVE_RIGHT &kp SPACE  &kp ENTER  &kp LEFT_WIN
               // Right Side (Mouse movement on right side)
&mkp MOUSE_MOVE_LEFT &mkp MOUSE_MOVE_DOWN &mkp MOUSE_MOVE_UP &mkp MOUSE_MOVE_RIGHT &kp SPACE  &kp ENTER  &kp LEFT_WIN
               // Left click on left half and right click on right half
&kp TAB   &kp BSPC     &mkp LCLK                                         &kp SPACE  &mkp RCLK  &kp LEFT_WIN
>;
       };
   };
};
